.deviceImg{
    margin-left: 25px;
    width: 125px;
    height: 125px;
}

.device__card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px auto ;
    width: 955px;
    height: 175px;
    background: url('../../../assets/background-card.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card_description{
    width: 590px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    
}

.buy_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    align-items: end;
    margin-left: 37px;
}

.btnRemove{
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue);
}

.card_rating{
    display: flex;
    flex-direction: row;
    width: 133px;
    height: 25px;
}

.ratingStar{
    width: 21px;
    height: 21px;
    margin: 2px 5px;
}