.brandBarItem{
    cursor: pointer; 
    padding: 5px;
    margin: 5px;
    border: 1px solid var(--dark-blue);
}

.active{
    transition: all ease .3s;
    background-color: var(--dark-blue);
    color: var(--light-blue);
}

.brandBarItem:hover{
    transition: all ease .3s;
    background-color: var(--dark-blue);   
}

.brandBar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}